.pair {float:left; clear:left; border:solid 1px black}
.modPair {float:left; border:solid 1px black}
.submitPair {float:left; clear:left}

label {
	font-size:large;
	float:left;
	clear:left;
}

input {
	text-align:center;
	font-size:medium;
	float:left;
	clear:left;
}